body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* RECTANGLE CYBER */
.rectangle {
    width: 460px;
    height: 150px;
    background: black;
    position: relative;
    margin: 50px auto;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left .h-line {
    width: 290px;
    height: 4px;
    background: #0f0;
}
.corner-top-left .v-line {
    width: 4px;
    height: 80px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right .h-line {
    width: 290px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right .v-line {
    width: 4px;
    height: 80px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Texte centre */
.math-zone {
    color: #0f0;
    font-size: 28px;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Champ réponse */
#answer {
    background: #111;
    border: 1px solid #0f0;
    color: #0f0;
    border-radius: 6px;
    width: 40px;
    font-size: 22px;
    text-align: center;
    margin-left: 10px;
}

/* MENU (invisible au début) */
.menu {
    width: 460px;
    margin: 20px auto;
    background: #000;
    border: 1px solid #0f0;
    display: none;
    justify-content: space-around;
    padding: 12px;
    border-radius: 10px;
}

.menu a {
    color: #0f0;
    font-family: 'Orbitron';
    text-decoration: none;
    font-size: 20px;
}

