body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container {
    position: relative; /* Assure que le contenu reste au-dessus */
    z-index: 1; /* Place le texte et l'image devant le canvas */
}