body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

/*

.cyber {
    font-family: 'Orbitron', sans-serif;
}

*/

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.container {
    position: relative; /* Assure que le contenu reste au-dessus */
    z-index: 1; /* Place le texte et l'image devant le canvas */
}




  .rectangle {
    width: 460px;
    height: 150px;
    background: black;
    position: relative;
    margin: 50px auto; /* centre la boîte */

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),     /* glow vert léger */
      0 0 40px rgba(255,255,255,0.1); /* halo blanc doux */
  }

  /* Coin haut gauche */
  .corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    border-top-left-radius: 30px;
  }

  .corner-top-left .h-line {
    width: 290px;
    height: 4px;
    background: #0f0;
    border-top-left-radius: 30px;
  }
  
  .corner-top-left .v-line {
    width: 4px;
    height: 80px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
  }

  /* Coin bas droit */
  .corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-bottom-right-radius: 30px;
  }

  .corner-bottom-right .h-line {
    width: 290px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 30px;
  }
  
  .corner-bottom-right .v-line {
    width: 4px;
    height: 80px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 30px;
  }


.text1 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    left: 44%;
    top: 8%;
  }