body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.menu {
    width: 1060px;
    margin: 20px auto;
    background: #000;
    border: 1px solid #0f0;
    display: flex;
    justify-content: space-around; /* espace entre tous les items */
    align-items: center;           /* centre verticalement */
    padding: 12px;
    border-radius: 10px;
}

.menu a {
    color: #fff;
    font-family: 'Orbitron';
    text-decoration: none;
    font-size: 20px;
    /* plus besoin de top: 35px */
}

.menu a:hover {
    color: #0f0;
}

.menu a.color:hover {
    color: #fff;
}

.menu a.image img {
    width: 60px;  /* taille fixe pour le logo */
    height: auto;
}




/* RECTANGLE CYBER */
.rectangle {
    width: 590px;
    height: 100px;
    background: black;
    position: relative;
    margin: 50px auto;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left .h-line {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left .v-line {
    width: 4px;
    height: 55px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right .h-line {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right .v-line {
    width: 4px;
    height: 55px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text1 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    left: 33%;
    top: 27%;
  }

.menu a.color {
    color: #0f0;
}




.rectangle-green2 {
    width: 570px;          /* légèrement plus grand pour dépasser rectangle2 */
    height: 310px;
    background-color: #0f0;
    position: absolute;
    top: 33%;              
    left: 13.5%;
    z-index: 1;            /* derrière rectangle2 */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:
      0 0 15px rgba(255, 255, 255, 0.3),
      0 0 40px rgba(255, 255, 255, 0.1);
}
/* RECTANGLE CYBER */
.rectangle3 {
    width: 570px;
    height: 310px;
    background: black;
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: 2;            /* devant rectangle vert */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left3 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left3 .h-line3 {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left3 .v-line3 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right3 .h-line3 {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right3 .v-line3 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

  .image1 {
    width: 210px;  /* taille fixe pour le logo */
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
}

.text3 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 30px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    left: 50%;
    top: 5%;
  }


.rectangle-green3 {
    width: 1130px;          /* légèrement plus grand pour dépasser rectangle2 */
    height: 450px;
    background-color: #0f0;
    position: absolute;
    top: 48%;              
    left: 30.5%;
    z-index: 1;            /* derrière rectangle2 */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:
      0 0 15px rgba(255, 255, 255, 0.3),
      0 0 40px rgba(255, 255, 255, 0.1);
}
/* RECTANGLE CYBER */
.rectangle4 {
    width: 1130px;
    height: 450px;
    background: black;
    position: absolute;
    top: 45%;
    left: 29%;
    z-index: 2;            /* devant rectangle vert */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left4 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left4 .h-line4 {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left4 .v-line4 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right4 .h-line4 {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right4 .v-line4 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text2 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 20px;         /* taille */
    font-weight: 0;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    text-align: center;
    left: 2%;
    top:5%;
  }