body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.menu {
    width: 1060px;
    margin: 20px auto;
    background: #000;
    border: 1px solid #0f0;
    display: flex;
    justify-content: space-around; /* espace entre tous les items */
    align-items: center;           /* centre verticalement */
    padding: 12px;
    border-radius: 10px;
}

.menu a {
    color: #fff;
    font-family: 'Orbitron';
    text-decoration: none;
    font-size: 20px;
    /* plus besoin de top: 35px */
}

.menu a:hover {
    color: #0f0;
}

.menu a.color:hover {
    color: #fff;
}

.menu a.image img {
    width: 60px;  /* taille fixe pour le logo */
    height: auto;
}




/* RECTANGLE CYBER */
.rectangle {
    width: 590px;
    height: 100px;
    background: black;
    position: relative;
    margin: 50px auto;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left .h-line {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left .v-line {
    width: 4px;
    height: 55px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right .h-line {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right .v-line {
    width: 4px;
    height: 55px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text1 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    left: 24%;
    top: 27%;
  }

.menu a.color {
    color: #0f0;
}



/* RECTANGLE CYBER */
.rectangle2 {
    width: 590px;
    height: 200px;
    background: black;
    position: absolute;
    margin: 50px auto;
    top: 30%;
    left: 34.5%;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left2 .h-line2 {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left2 .v-line2 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right2 .h-line2 {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right2 .v-line2 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text2 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    left: 5%;
    top: -5%;
  }

.image2 img {
    width: 130px;  /* taille fixe pour le logo */
    height: auto;
    position: absolute;
    top: 17%;
    left: 50%;
}




/* RECTANGLE CYBER */
.rectangle3 {
    width: 590px;
    height: 200px;
    background: black;
    position: absolute;
    margin: 50px auto;
    top: 40%;
    left: 33%;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left3 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left3 .h-line3 {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left3 .v-line3 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right3 .h-line3 {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right3 .v-line3 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text3 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    left: 8%;
    top: 0%;
  }

.image3 img {
    width: 130px;  /* taille fixe pour le logo */
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
}



/* RECTANGLE CYBER */
.rectangle4 {
    width: 590px;
    height: 200px;
    background: black;
    position: absolute;
    margin: 50px auto;
    top: 50%;
    left: 63%;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

    box-shadow:
      0 0 15px rgba(0,255,0,0.3),
      0 0 40px rgba(255,255,255,0.1);
}

/* Coin haut gauche */
.corner-top-left4 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.corner-top-left4 .h-line4 {
    width: 420px;
    height: 4px;
    background: #0f0;
}
.corner-top-left4 .v-line4 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Coin bas droit */
.corner-bottom-right4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.corner-bottom-right4 .h-line4 {
    width: 420px;
    height: 4px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.corner-bottom-right4 .v-line4 {
    width: 4px;
    height: 145px;
    background: #0f0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.text4 {
    color: rgb(255, 255, 255);        /* couleur du texte */
    font-size: 34px;         /* taille */
    font-weight: bold;       /* épaisseur */
    font-family: 'Orbitron', sans-serif;
    text-decoration: none; /* enlève la barre (soulignement) */
    position: relative;
    left: 8%;
    top: 0%;
  }

.image4 img {
    width: 130px;  /* taille fixe pour le logo */
    height: auto;
    position: absolute;
    top: 17%;
    left: 50%;
}